<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
    {% if meta.description %}
        <meta name="description" content="{{ meta.description|striptags }}">
	{% else %}
		<meta name="description" content="Mr. Papercut: webprogramming made simple.">
    {% endif %}
	{% if meta.robots %}
        <meta name="robots" content="{{ meta.robots }}">
    {% endif %}
	<meta name="author" content="Mischa Rodermond">

	<meta property="fb:admins" content="758023081" />
	<meta property="og:title" content="Mr. Papercut"/>
	<meta property="og:url" content="http://mrpapercut.com"/>
	<meta property="og:image" content="http://mrpapercut.com/images/touch-icon.png"/>
	<meta property="og:description" content="Mr. Papercut: Developing webnonsense and webbrilliance"/>
	<!-- TradeDoubler site verification 2358735 -->

	<link rel="alternate" type="application/rss+xml" title="Mr. Papercut RSS Feed" href="rss.xml">

	<link rel="shortcut icon" href="//www.mrpapercut.com/images/favicon.ico">
	<link rel="apple-touch-icon" href="//www.mrpapercut.com/images/touch-icon.png">

    <link rel="stylesheet" href="{{ theme_url }}/public/main.css" type="text/css" />

    <script src="{{ theme_url }}/public/bundle.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <header id="header">
        <div class="inner clearfix">
            <h1><a href="{{ "index"|link }}" id="logo">{{ site_title }}</a></h1>
		</div>
	</header>
	<div class="container">
		{{ content }}
	</div>
</body>
</html>