{% include 'header.twig' %}
{% if content %}
<section id="content" class="container">
	<div class="inner">
		{{ content }}
	</div>
</section>
{% endif %}

<section id="articles">
	{% for page in pages|sort_by("time")|reverse %}
		{% if page.id starts with "blog/" and page.meta.published == true %}
			<div class="container">
				<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
				{% if page.description %}<p class="description">{{ page.description }}</p>{% endif %}
				{% if page.meta.tags %}<span class="tags">Tags: {{ page.meta.tags }}</span>{% endif %}
				<a href="{{ page.url }}" class="readmore">Read more</a>
			</div>
		{% endif %}
	{% endfor %}
</section>
{% include 'footer.twig' %}
